* {
    box-sizing: border-box;
    margin: 0;
}


html {
    font-family: sans-serif;   
}

h1 {
    background-color: aliceblue;
    
}

h4 {
    background-color: aliceblue;
}

body {
    background-image: linear-gradient(rgba(0.5, 0.5, 0.5, 0), rgba(0.5, 0.5, 0.5, 0)), url("../images/ice.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.colorblue {
    color: #0c0257; 
    
}

.bears {
    color: #0670fa;
    
}

#polarbears {
    border: 10px 10px #0670fa;
    box-shadow: 3px 3px #0c0257;
}