* {
    box-sizing: border-box;
    margin: 0;
}


html {
    font-family: sans-serif;   
}

h1 {
    text-transform: uppercase;
    
}

h4 {
    background-color: aliceblue;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/iceberg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: #0670fa;
    font-size: 1.2em;
    transition: background-color .3s, color .3s;
    text-decoration: none;
    text-transform: uppercase; 
}

a:hover {
    color: aliceblue;
}

p {
    color:aliceblue;
}


.colorblue {
    color: #0c0257; 
    
}

.bears {
    color: #0670fa;
    
}

.lightblue {
    color:aliceblue;
}

#polarbears {
    border: 10px 10px #0670fa;
    box-shadow: 3px 3px #0c0257;
}