* {
    box-sizing: border-box;
    margin: 0;
}


html {
    font-family: sans-serif;   
}
header nav ul{
    display:flex;
    align-items: center;
}
header nav li {
    list-style-type: none;
    justify-content: flex-end;
    padding-right:10px; 
}

header {
    display: flex;

}

h1 {
    text-transform: uppercase;
    
}

h4 {
    background-color: aliceblue;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/iceberg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around; 
}

a {
    color: #a7d5fd;
    font-size: 1.2em;
    transition: background-color .3s, color .3s;
    text-decoration: none;
    text-transform: uppercase; 
}

a:hover {
    color: aliceblue;
}

p {
    color:aliceblue;
}


.colorblue {
    color: #0c0257; 
    
}

.bears {
    color: #0670fa;
    
}

.lightblue {
    color:aliceblue;
}

#polarbears {
    border: 10px 10px #0670fa;
    box-shadow: 3px 3px #0c0257;
}

footer nav ul{
    display:flex;
}

footer nav li {
    list-style-type: none;
    justify-content: flex-end;
    padding:10px; 
}

footer {
    display: flex;
    align-items: center;
     align-items: center;
}


